body {
    color: #222324;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.7;
}

body {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    background: #d8d7d8;
    color: grey;
    text-align: center;
    padding: 20px;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

h1 {
    color: #124b9b;
}

h2 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

h3 {
    color: #124b9b;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}

h4 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 21px;
}

main {
    padding: 65px 0;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


/* unvisited link */
 a:link {
    color: #474747;
}
/* visited link */
a:visited {
    color: #222324;
}
/* mouse over link */
a:hover {
    color: #124b9b;
    text-decoration: underline;
}
/* selected link */
.active {
    background-color: #d9e9fb;
}
